
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sous Categories</title>
</head>
<body>
    <h1 >Liste des Sous-Categories ({{listScategories.length}})</h1>


<div><button class="btn btn-primary" routerLink="/categories/createSCategorie">Ajouter Sous-Categorie</button></div>
<table class=" table table-striped bordered  table-bordered mt-5">

    <thead>

        <tr>
            
            <th>Nom Sous-Categorie </th>
            <th>Image</th>
            <th>Modifier</th>
            <th>Supprimer</th>
    
        </tr>
    </thead>
   


    <tbody>
        <tr *ngFor="let sCategorie of listScategories ">


            <td>{{sCategorie.nomscategorie}}</td>
            <td> <img src="{{sCategorie.imagescategorie}}" alt="" width="80" height="80"></td>
            <td><button class="btn btn-warning">Modifier</button></td>
            <td><button class="btn btn-danger" (click)="deleteSCategorie(sCategorie._id)" >Supprimer</button></td>
        </tr>
    </tbody>
   
</table>
</body>
</html>




