
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Liste des produits  Table ({{productsList.length}})</h1>


    <!-- <div class="mb-3 ms-5">
        <label for="" class="form-label">City</label>
        <select
            class="form-select form-select-lg w-25 "
            name=""
            id=""
            [(ngModel)]="selecteValue"
        >
            <option *ngFor="let cat of catList" [value]="cat.id"> {{cat.name}} </option>
            
        </select>
    </div> -->
<!-- 
    <div class="text ms-5 fs-4 badge bg-danger"> selected value is:  {{selecteValue}} </div>
    <button class="btn btn-primary" (click)="changeValue()" > change selected value</button> -->


    <div><button class="btn btn-success" routerLink="/products/createProduct"   >Ajouter Un Produit</button></div>
    <table  datatable   class="table table-hover table-striped table-bordered mb-5">
<!-- <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="row-border hover"> -->

    <thead>

        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Reference</th>
            <th>Designation</th>
            <th>Marque</th>
            <th>Prix</th>
            <th>Quantite</th>
            <th>Modifier</th>
            <th>Supprimer</th>
    
        </tr>
    </thead>
   


    <tbody>
        <tr  *ngFor="let product of productsList; index as i " [class.bg-danger]="product.qtestock<15" >

            <td class="table-primary" colspan="">{{i+1}}</td>
            <td > <img [src]="product.imageart" alt="" width="80" height="80"></td>
            <td>{{product.reference}}</td>
            <td>{{product.designation}}</td>
            <td>{{product.marque}}</td>
            <td>{{product.prix}}</td>
            <td>{{product.qtestock}}</td>
            <td><button type="button" [routerLink]="['/products/editProduct/',product._id]" class="btn btn-warning">Modifier</button></td>
            <td><button class="btn btn-danger" (click)="deletPro(product._id)">Supprimer</button></td>
        </tr>
    </tbody>
   
</table>
</body>
</html>


