<div class="container">
    <div class="form-wrapper">
      <h2>Ajouter une sous-categorie</h2>
      <div class="mobile-from">
        <div class="mb-3">
          <label for="nomCategorie" class="form-label">Nom Categorie</label>
          <input
            type="text"
            class="form-control"
            id="nomCategorie"
            placeholder="nom Categorie"
            [(ngModel)]="sCategorie.nomscategorie"
           
          />
        </div>
        <div class="mb-3">
          <label for="imageCategorie" class="form-label">Image Sous-Categorie</label>
          <input
            type="text"
            class="form-control"
            id="imageCategorie"
            placeholder="Image Sous-Categorie"
            [(ngModel)]="sCategorie.imagescategorie"
            
          />
        </div>
  
        <button type="button" class="btn btn-success me-5" (click)="ajouterSCategorie()" >Ajouter</button>
        <button
          type="button"
          class="btn btn-danger"
          routerLink="/scategories/listSCategories"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
  
